n8n-crm-workflow.json
{
  "name": "CRMDev Telegram Bot",
  "nodes": [
    {
      "parameters": {},
      "id": "b1c2d3e4-f5g6-h7i8-j9k0-l1m2n3o4p5q6",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.text }}",
        "rules": {
          "values": [
            {
              "value1": "/tareas",
              "operation": "equals"
            },
            {
              "value1": "/crear_tarea",
              "operation": "equals"
            },
            {
              "value1": "/proyectos",
              "operation": "equals"
            },
            {
              "value1": "/crear_proyecto",
              "operation": "equals"
            },
            {
              "value1": "/clientes",
              "operation": "equals"
            },
            {
              "value1": "/crear_cliente",
              "operation": "equals"
            },
            {
              "value1": "/help",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://crmdev.tech/api/mcp/rest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer crm_TU_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool\": \"list_tasks\",\n  \"arguments\": {}\n}",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-c7d8-e9f0-g1h2i3j4k5l6",
      "name": "List Tareas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 100]
    },
    {
      "parameters": {
        "url": "https://crmdev.tech/api/mcp/rest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer crm_TU_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool\": \"list_projects\",\n  \"arguments\": {}\n}",
        "options": {}
      },
      "id": "d1e2f3g4-h5i6-j7k8-l9m0-n1o2p3q4r5s6",
      "name": "List Proyectos API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://crmdev.tech/api/mcp/rest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer crm_TU_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tool\": \"list_clients\",\n  \"arguments\": {}\n}",
        "options": {}
      },
      "id": "e1f2g3h4-i5j6-k7l8-m9n0-o1p2q3r4s5t6",
      "name": "List Clientes API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\n\nif (result.success && result.data && result.data.length > 0) {\n  let message = '📋 **Tus Tareas:**\\n\\n';\n  \n  result.data.forEach((task, i) => {\n    const emojis = {\n      'TODO': '⏳',\n      'IN_PROGRESS': '🔄', \n      'IN_REVIEW': '👀',\n      'DONE': '✅',\n      'CANCELLED': '❌'\n    };\n    const priorities = {\n      'LOW': '🟢',\n      'MEDIUM': '🟡',\n      'HIGH': '🟠',\n      'URGENT': '🔴'\n    };\n    const emoji = emojis[task.status] || '📌';\n    const priority = priorities[task.priority] || '';\n    \n    message += `${i + 1}. ${emoji} ${task.title}\\n`;\n    if (task.description) {\n      message += `   📝 ${task.description}\\n`;\n    }\n    message += `   ${priority} ${task.priority}\\n\\n`;\n  });\n  \n  return { json: { message: message } };\n} else {\n  return { json: { message: '📋 No tienes tareas pendientes.' } };\n}"
      },
      "id": "f1g2h3i4-j5k6-l7m8-n9o0-p1q2r3s4t5u6",
      "name": "Format Tareas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 100]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\n\nif (result.success && result.data && result.data.length > 0) {\n  let message = '🚀 **Tus Proyectos:**\\n\\n';\n  \n  result.data.forEach((project, i) => {\n    const emojis = {\n      'NOT_STARTED': '⬜',\n      'IN_PROGRESS': '🔄',\n      'ON_HOLD': '⏸️',\n      'COMPLETED': '✅',\n      'CANCELLED': '❌'\n    };\n    const emoji = emojis[project.status] || '📌';\n    \n    message += `${i + 1}. ${emoji} ${project.name}\\n`;\n    message += `   📊 Progreso: ${project.progress}%\\n`;\n    message += `   🏷️ ${project.type}\\n\\n`;\n  });\n  \n  return { json: { message: message } };\n} else {\n  return { json: { message: '🚀 No tienes proyectos.' } };\n}"
      },
      "id": "g1h2i3j4-k5l6-m7n8-o9p0-q1r2s3t4u5v6",
      "name": "Format Proyectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\n\nif (result.success && result.data && result.data.length > 0) {\n  let message = '👥 **Tus Clientes:**\\n\\n';\n  \n  result.data.forEach((client, i) => {\n    const emojis = {\n      'LEAD': '🔵',\n      'PROSPECT': '🟡',\n      'CUSTOMER': '🟢',\n      'INACTIVE': '⚪',\n      'CHURNED': '🔴'\n    };\n    const emoji = emojis[client.status] || '👤';\n    \n    message += `${i + 1}. ${emoji} ${client.name}\\n`;\n    if (client.email) message += `   📧 ${client.email}\\n`;\n    if (client.company) message += `   🏢 ${client.company}\\n`;\n    message += `   📊 ${client.status}\\n\\n`;\n  });\n  \n  return { json: { message: message } };\n} else {\n  return { json: { message: '👥 No tienes clientes.' } };\n}"
      },
      "id": "h1i2j3k4-l5m6-n7o8-p9q0-r1s2t3u4v5w6",
      "name": "Format Clientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}"
      },
      "id": "i1j2k3l4-m5n6-o7p8-q9r0-s1t2u3v4w5x6",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Switch", "type": "main", "index": 0}]]
    },
    "Switch": {
      "main": [
        [{"node": "List Tareas API", "type": "main", "index": 0}],
        [{"node": "List Proyectos API", "type": "main", "index": 0}],
        [{"node": "List Clientes API", "type": "main", "index": 0}]
      ]
    },
    "List Tareas API": {
      "main": [[{"node": "Format Tareas", "type": "main", "index": 0}]]
    },
    "List Proyectos API": {
      "main": [[{"node": "Format Proyectos", "type": "main", "index": 0}]]
    },
    "List Clientes API": {
      "main": [[{"node": "Format Clientes", "type": "main", "index": 0}]]
    },
    "Format Tareas": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    },
    "Format Proyectos": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    },
    "Format Clientes": {
      "main": [[{"node": "Send to Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-25T00:00:00.000Z",
  "versionId": "1"
}
